body{
    background-color: beige;
}
.container{
    display: grid;
    height: 300px;
    width: 1000px;
    border: 2px solid red;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
    
}
.row1,.row2,.row3{
    border: 1px dotted black;
}